@import 'partials/header.styl'
@import 'partials/footer.styl'
@import 'partials/main.styl'

@import 'blocks/common.styl'
@import 'blocks/form.styl'
@import 'blocks/logo.styl'
@import 'blocks/nav.styl'
@import 'blocks/ihead.styl'
@import 'blocks/iprod.styl'
@import 'blocks/product.styl'
@import 'blocks/itabs.styl'
@import 'blocks/igallery.styl'
@import 'blocks/plyr.styl'
@import 'blocks/ipubl.styl'
@import 'blocks/publ.styl'
@import 'blocks/isubscr.styl'
