.container
  width 100%
  margin 0 auto
  @media $desktop
    max-width 1216px

.row
  display flex
  flex-wrap wrap

.col
  margin 0 16px

col(n)
	width (100/(12/n))%

col_offset(n)
	margin-left (100/(12/n))%
