.container
  width 100%
  margin 0 auto
  @media $desktop
    max-width 1216px

.row
  display flex
  flex-wrap wrap
  margin 0 -16px
  width calc(100% + 32px)

.col
  margin 0 16px
  &--x2
    width calc(100%/6 - 32px)
  &--offset-2
    margin-left calc(100%/6 + 16px)
