*
  box-sizing border-box

img
  max-width 100%

a
  text-decoration none

html
  font-size $baseFontSize

html, body, .wrapper
  position relative
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility !important

body
  position relative
  min-width 320px
  margin 0
  padding 0
  font-family $baseFontFamily
  font-weight $baseFontWeight
  box-sizing border-box
  overflow-x hidden

  &.blocked, &.open-menu
    overflow hidden
    -ms-touch-action none
    touch-action none

  &.page-loaded
    .box
      opacity 0
      visibility hidden
    .wrapper, .header, .main, .footer
      opacity 1

  &.blocked
    .header
      @media (min-width: 1161px)
        padding-right 17px
    .main, .footer
      opacity .2
      pointer-events none

  &.popup-open
    overflow hidden
    @media (min-width: 1161px)
      padding-right 17px
      .header
        padding-right 17px
    .popup
      z-index 15
      &--active
        left 0
        opacity 1
        visibility visible
        transition-delay 0s
      &__container
        opacity 1
        transition-delay .6s

.wrapper, .header, .main, .footer
  opacity 0
  transition opacity .5s ease-in

.main, .footer
  transition: opacity .3s ease-in-out

.wrapper
  overflow-x hidden
  min-height 100vh
  z-index 1
