*
  box-sizing border-box

img
  max-width 100%

a
  text-decoration none

html
  font-size $baseFontSize

html, body, .wrapper
  position relative
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility !important

body
  position relative
  min-width 320px
  margin 0
  padding 0
  font-family $baseFontFamily
  font-weight $baseFontWeight
  box-sizing border-box
  overflow-x hidden

  &.blocked, &.open-menu
    overflow hidden
    -ms-touch-action none
    touch-action none

  &.page-loaded
    .wrapper, .header, .main, .footer
      opacity 1

  &.blocked
    .header
      padding-right 17px
    .main, .footer
      opacity .2
      pointer-events none

.wrapper, .header, .main, .footer
  opacity 0
  transition opacity .5s ease-in

.main, .footer
  transition: opacity .3s ease-in-out

.wrapper
  overflow-x hidden
  min-height 100vh
  z-index 1
