mixin header-submenu(data)
  each item in data
    +e('li').submenu
      +e('a')(href="#").submenu-href
        if (item.img)
          +e('span').submenu-href-overimg
            +e('img')(src=item.img alt="").submenu-href-img
        +e('span').submenu-href-text #{item.title}
        if (item.listHref)
          +e('span').submenu-btn-mobile.js-open-sublist
      if (item.listHref)
        +e.submenu-scroll-wrap.js-submenu-scroll
          +e('ul').submenu-list
            each item2 in item.listHref
              +e('li').submenu-list-item
                +e('a')(href="#").submenu-list-href #{item2.href}

