mixin igallery(data)
  .swiper-container.js-swiper-igallery
    .swiper-wrapper
      each item in data
        .swiper-slide
          +e.slide
            +e.slide-video.--hide-controls
              +e('video')(poster="static/video/"+item.poster).slide-video-item.js-player
                source(src="static/video/"+item.videoSrc type="video/mp4")
              +e.slide-content
                +e.slide-cover(style="background-image: url('static/video/"+item.poster+"');")
                +e.slide-play
                  include ../../../svg/play.svg
            .container
              +e.slide-top
                +e('h3').slide-title #{item.title}
                +e('p').slide-text !{item.text}
    .swiper-buttons-area.swiper-buttons-area--left
      button(type="button" aria-label="Назад").swiper-button-prev
        include ../../../svg/arrow.svg
    .swiper-buttons-area.swiper-buttons-area--right
      button(type="button" aria-label="Вперед").swiper-button-next
        include ../../../svg/arrow.svg
    .swiper-pagination.swiper-pagination--white
