mixin ihead(data)
  +b('section').ihead
    .swiper-container.js-swiper-ihead
      .swiper-wrapper
        each item in data
          +e.item-slide.swiper-slide
            +e.item-back
              +e('video')(muted="muted" playsinline loop="loop" autoplay="autoplay" poster="static/video/"+item.videoPoster).item-video
                source(src="static/video/"+item.video type="video/mp4")
            .container
              +e.item-content
                +e('p').item-title #{item.title}
                +e('p').item-subtitle !{item.subtitle}
                +e('a')(href="#").item-more 
                  span Подробнее
      .swiper-buttons-area.swiper-buttons-area--left
        button(type="button" aria-label="Назад").swiper-button-prev
          include ../../../svg/arrow.svg
      .swiper-buttons-area.swiper-buttons-area--right
        button(type="button" aria-label="Вперед").swiper-button-next
          include ../../../svg/arrow.svg
