mixin product(data)
  each item in data
    +b('a')(href="#").product
      +e('span').item-img(style="background-image: url("+item.img+");")
      +e('span').item-content
        +e('span').item-art #{item.art}
        +e('span').item-title.title #{item.title}
        +e('span').item-descr !{item.descr}
        +e('span').item-more Подробнее
