mixin product(data)
  each item in data
    +b('a')(href="https://ya.ru" target="_blank").product
      +e('div').item-img(style="background-image: url("+item.img+");")
      +e('div').item-content
        +e('p').item-art #{item.art}
        +e('p').item-title.title #{item.title}
        +e('p').item-descr !{item.descr}
        +e('span').item-more Подробнее
