+b('section').ifeed.js-scroll-anim
  +e.decor
    +e.decor-item.--back
      +e('img')(src=tmpsrc+"decor.jpg" alt="").decor-item-img
    +e.decor-item.--front
      +e('img')(src=tmpsrc+"decor2.png" alt="").decor-item-img
  .container
    +e.content
      +e('h3').title.title Остались вопросы?
      +e('p').text Позвоните по номеру 
        a(href="tel:+74955893101") +7 495 589-31-01
        |  или&nbsp;задайте их нашим специалистам через форму обратной связи
      +b('form').form.--feed
        +e('fieldset').field
          +e('input')(type="text" data-req="req" id="inp_01").field-input
          +e('label')(for="inp_01").field-label Имя
          +e('p').field-warning Поле обязательно для заполнения
        +e('fieldset').field
          +e('input')(type="email" data-req="req" data-type="email" id="inp_02").field-input
          +e('label')(for="inp_02").field-label Адрес электронной почты
          +e('p').field-warning Поле обязательно для заполнения
        +e('fieldset').field
          +e('textarea')(data-req="req" id="text_01").field-textarea
          +e('label')(for="text_01").field-label Вопрос
          +e('p').field-warning Поле обязательно для заполнения
        +e('fieldset').field
          +e('button')(type="submit" disabled).field-submit 
            include ../../../svg/air.svg
            |  Отправить
