+b('section').igallery.js-scroll-anim
  +e('a')(href="#").all-href Фото и видео
  +e.slider
    +igallery([
      {title:'Записки охотника. Лето', text:'Летняя охота в средней полосе России', poster: 'gallery-cover.jpg', videoSrc: 'gallery-video.mp4'},
      {title:'Записки охотника. Осень', text:'Осенняя охота на северо-западе России', poster: 'gallery-cover2.jpg', videoSrc: 'gallery-video2.mp4'},
      {title:'О компании «Дедал-НВ»', text:'Разработка, производство и поставка <br>дневной, ночной и тепловизионной <br>техники премиум-класса.', videoCover: 'gallery-video-cover3.mp4', videoSrc: 'gallery-video3.mp4'},
      {title:'Чемпионат мира IPSC 2017', text:'Золотые и серебряные медали в категории Law Enforcement/Military заняли стрелки с прицелами DHF 1-7x24', poster: 'gallery-cover4.jpg', videoSrc: 'gallery-video4.mp4'},
      {title:'Прицел DHF 1-7×24', text:'Оптический прицел с сеткой в 1-й фокальной плоскости. <br>Охота. Спорт. Обеспечение безопасности', videoCover: 'gallery-video-cover5.mp4', videoSrc: 'gallery-video5.mp4'},
      {title:'Тепловизионный прицел Dedal-T2.380 Hunter', text:'Зимняя охота в средней полосе России', poster: 'gallery-cover6.jpg', videoSrc: 'gallery-video6.mp4'},
      {title:'День Орсис', text:'Стрелковый день компаний "Дедал-НВ" и "Орсис"', poster: 'gallery-cover7.jpg', videoSrc: 'gallery-video7.mp4'},
    ])
