+ihead([
  {
    title: 'Дедал-НВ', 
    subtitle: 'Специальное предложение для покупателей:<br>- дополнительный год гарантии<br>- бесплатная доставка<br>- Dedal-180(HR) в подарок', 
    video: 'video.mp4', 
    videoPoster: 'video-poster.jpg'
  },
  {
    title: 'Оптика для охоты', 
    subtitle: 'Дневные, ночные, тепловизионные <br>прицелы, насадки и приборы наблюдения <br>для Вашей успешной охоты', 
    video: 'video2.mp4', 
    videoPoster: 'video-poster2.jpg'
  },
  {
    title: 'Оптика специального назначения', 
    subtitle: 'Профессиональные <br>дневные, ночные, тепловизионные <br>прицелы, насадки и приборы наблюдения', 
    video: 'video3.mp4', 
    videoPoster: 'video-poster3.jpg'
  },
  {
    title: '', 
    subtitle: '', 
    video: 'video4.mp4',
    videoPoster: 'video-poster4.jpg'
  }
])
