+b('section').iprod
  .swiper-container.js-swiper-iprod
    .swiper-wrapper
      .swiper-slide
        +product([
          {
            art: 'DHF 1-7×24',
            title: 'Универсальный оптический прицел ',
            descr: 'Высочайшее качество изображения во всем диапазоне кратности (1-7×), светосила, точность, надежность и эффективность, подтвержденная победой на Чемпионате мира IPSC.',
            img: tmpsrc+'prod.png'
          }
        ])
      .swiper-slide
        +product([
          {
            art: 'Dedal-490-DK3(100)',
            title: 'Светосильный прицел ночного видения',
            descr: 'Бескомпромиссное решение для трофейной охоты в экстремальных ночных условиях.',
            img: tmpsrc+'prod2.png'
          }
        ])
      .swiper-slide
        +product([
          {
            art: 'Dedal-T4.642 Pro',
            title: 'Флагман тепловизионных прицелов Dedal-NV',
            descr: 'Профессиональный тепловизионный прицел для работы на максимальных дистанциях.',
            img: tmpsrc+'prod3.png'
          }
        ])
      .swiper-slide
        +product([
          {
            art: 'Dedal-T2.380 Hunter LRF',
            title: 'Лучший охотничий прицел с дальномером',
            descr: 'Встроенный дальномер, автоматический ввод поправок, высокая детализация изображения, простота управления и надежность. ',
            img: tmpsrc+'prod4.png'
          }
        ])
    .swiper-pagination
