+b('section').ipubl.js-scroll-anim
  .container
    +e.top
      +e('h2').title.title Новости
      +e('a')(href="#").press-center-href ПЕРЕЙТИ В ПРЕСС-ЦЕНТР
    +e.slider
      +ipubl([
        { type: 'Новости', cover: 'news-cover.jpg', date: '28 мая 2019', title: '«День передовых технологий»', text: '«Дедал-НВ» - среди передовых!' },
        { type: 'Новости', typeColor: 'white', cover: 'news-cover2.jpg', date: '20 мая 2019', title: 'Соревнования «Волжская Даль» - «Почуевская НОЧЬ»', text: 'По результатам ночной стрельбы 2 место занял стрелок Крыжко Алексей с тепловизионным прицелом <br>Dedal-T4.642 Pro LRF' },
        { type: 'Новости', cover: 'news-cover3.jpg', date: '06 мая 2019', title: 'С Днем Великой Победы!', text: 'Коллектив АО "Дедал-НВ" поздравляет Вас и Ваших близких с днем Великой Победы!' },
        { type: 'Новости', typeColor: 'white', cover: 'news-cover4.jpg', date: '10 апреля 2019', title: 'Московский Тепловизионный Рубеж - ФВСР', text: '30 марта 2019 г. на полигоне в Балашихе состоялись открытые соревнования по спортивной стрельбе с применением тепловизионных прицелов и насадок - “Московский Тепловизионный Рубеж - ФВСР”' },
        { type: 'Новости', typeColor: 'white', cover: 'news-cover5.jpg', date: '18 марта 2019', title: 'IWA Outdoor Classics 2019', text: 'С 8 по 11 марта 2019 г. в Нюрнберге (Германия) состоялась 46-я Международная отраслевая выставка охотничьего и спортивного оружия, аксессуаров и экипировки для отдыха - IWA Outdoor Classics 2019' },
        { type: 'Статьи', typeColor: 'white', cover: 'news-cover6.jpg', date: '14 января 2019', title: 'Статья "Поражая мишени, продолжение..." в журнале "Калашников"', text: '№1/2019', classIco: '--pdf' },
        { last: true }
      ])
