+b('section').isubscr(style="background-image: url('"+tmpsrc+"subscr-cover.jpg')")
  .container
    +e.content
      +e('h3').title.title.--white Подписаться на рассылку
      +e('p').text Новинки, акции, важные изменения
      +b('form').form.--white.--subscr
        +e('fieldset').field
          +e('input')(type="text").field-input
          +e('button')(type="submit").field-submit
            include ../../../svg/envelope.svg
            | Подписаться
