extends includes/template/base.pug

block variables
  - var title = "Главная";
  - var tmpsrc = 'static/img/';

block main

  include includes/blocks/ihead

  include includes/blocks/iprod

  include includes/blocks/itabs

  include includes/blocks/igallery

  include includes/blocks/ipubl

  include includes/blocks/isubscr

  include includes/blocks/ifeed
  
  