.header
  position fixed
  left 0
  top 0
  width 100%
  z-index 10
  padding 9px 0 7px
  box-shadow 0 0.6rem 1.6rem rgba(0,0,0,0)
  transition box-shadow .3s ease-in-out, opacity .6s ease-in-out 1s, height .4s ease-in-out, background .4s ease-in-out
  @media (max-width: 1160px)
    .header__row
      .header__phone, .header__lang, .header__action-item:last-child
        display none
      .header__action-item
        margin-right 0
  &--show-tabs
    .header__tabs
      max-height calc(100vh - 100%)
      &-close
        opacity 1
        transform translateY(0)
      @media (max-width: 1160px)
        max-height calc(100% - 58px)
        left 0
  &--hide-tabs
    .header__tabs
      max-height 0
  &--sticky
    box-shadow 0 0.6rem 1.6rem rgba(0,0,0,.08)
    .logo
      .i-logo
        height 42px
    .header__submenu-list
      max-height calc(100vh - 470px)
  &:hover, &--sticky, &--show-tabs
    background-color #fff
    .logo-text
      fill $black
    .nav__list-item-href
      color $black
      &:hover, &--active
        color #636466
    .header
      &__phone
        color $black
        &:hover
          color #636466
      &__burger
        span
          background-color #000
          &:before, &:after
            background-color #000
    .i-basket, .i-basket-color
      transition opacity .3s ease-in-out
      path
        fill #000 !important
      &:hover
        opacity .7
    .i-search
      transition opacity .3s ease-in-out
      path
        stroke #000 !important
      &:hover
        opacity .7
  > .container
    max-width 1565px
  &__burger
    display none
    position relative
    justify-content center
    align-items center
    width 40px
    height 40px
    padding 0
    background none
    border none
    outline none
    z-index 2
    span
      display block
      position relative
      width 24px
      height 1px
      background-color #fff
      transition background .3s ease-in-out
      &:before, &:after
        content ''
        display block
        position absolute
        left 0
        width 24px
        height 1px
        background-color #fff
        transition background .3s ease-in-out
      &:before
        top -8px
      &:after
        bottom -8px
    @media (max-width: 1160px)
      display flex
  &__row
    align-items center
    margin 0
    @media (max-width: 1620px)
      width 100%
      padding-left 35px
      padding-right 35px
    @media (max-width: 1365px)
      padding-left 15px
      padding-right 15px
    @media (max-width: 1160px)
      justify-content center
      padding-left 30px
      padding-right 30px
    @media (max-width: 767px)
      padding-left 20px
      padding-right 20px
  &__right
    display flex
    align-items center
    margin-left auto
    margin-right 31px
    @media (max-width: 1365px)
      margin-right 0
    @media (max-width: 1160px)
      margin-left 0
  &__phone
    color #FFF
    font-size 17px
    line-height 19px
    font-weight 500
    text-transform uppercase
    transition: color .3s ease-in-out
    @media (max-width: 1365px)
      font-size 15px
  &__action
    display flex
    align-items center
    margin-left 22px
    @media (max-width: 1365px)
      margin-left 18px
    &:first-child
      margin-left 0
    &-item
      margin-right 22px
      @media (max-width: 1365px)
        margin-right 18px
      font-size 0
      &:last-child
        margin-right 0
    &-href
      display inline-block
      vertical-align top
      &--basket
        position relative
        &:after
          content attr(data-count)
          display block
          position absolute
          top 0
          left calc(100% + 6px)
          color $black
          font-weight 500
          font-size 12px
          line-height 16px
          opacity 0
          transform translateY(5px)
          transition opacity .3s ease-in-out,transform .3s ease-in-out,color .3s ease-in-out
          z-index 1
        &.active
          .i-basket
            display none
            &-color
              display block
          &:after
            opacity 1
            transform translateY(0)
      .i-basket
        width 21px
        height 17px
        path
          transition fill .3s ease-in-out
          fill #fff
        &-color
          width 21px
          height 17px
          display none
          path
            transition fill .3s ease-in-out
            fill #fff
      .i-search
        width 20px
        height 17px
        path
          transition stroke .3s ease-in-out
  &__lang
    display flex
    align-items center
    margin-left 29px
    @media (max-width: 1365px)
      margin-left 18px
    &:first-child
      margin-left 0
    &-item
      margin-right 21px
      @media (max-width: 1365px)
        margin-right 16px
      font-size 0
      &:last-child
        margin-right 0
    &-href
      svg
        width 21px
        height 15px
      .i-flag-eng
        width 19px
        height 13px
  &__tabs
    position absolute
    left 0
    top 100%
    width 100%
    max-height 0
    background-color #f8f9fc
    box-shadow 0 6px 6px rgba(0,0,0,.08)
    transition height .6s cubic-bezier(.215,.61,.355,1), max-height .6s cubic-bezier(.215,.61,.355,1)
    overflow hidden
    padding-right 17px
    z-index 3
    @media (max-width: 1160px)
      left 100%
      top 58px
      background-color #fff
      padding-right 0
      height calc(100vh - 58px) !important
      max-height calc(100vh - 58px) !important
    &-close
      position absolute
      right 59px
      top 31px
      display flex
      justify-content flex-end
      align-items center
      color #000
      font-weight 500
      font-size 12px
      line-height 24px
      text-transform uppercase
      letter-spacing 0.01em
      background none
      border none
      outline none
      user-select none
      cursor pointer
      opacity 0
      transform translateY(100px)
      transition opacity .3s ease-in-out, transform .3s ease-in-out
      transition-delay .6s
      z-index 3
      @media (max-width: 1160px)
        display none
      .close-ico
        display block
        width 14px
        height 14px
        margin-right 11px
        margin-top -4px
    &-list
      position relative
      @media (max-width: 1160px)
        display flex
        flex-direction column
    &-item
      position absolute
      left 0
      top 0
      width 100%
      opacity 0
      visibility hidden
      z-index 1
      &--search
        .header__tabs-item-content
          padding-top 104px
          padding-bottom 120px
      &--active
        position relative
        opacity 1
        visibility visible
        transition opacity .3s ease-in-out, visibility .3s ease-in-out
        transition-delay .5s
        .header__tabs-item-content
          .href-wrap
            transform translateY(0)
            opacity 1
            transition-delay .6s
        .form--search
          opacity 1
          transform translateY(0)
          transition opacity .5s ease-in-out, transform .5s ease-in-out
          transition-delay .6s
      &-content
        padding-top 40px
        padding-bottom 80px
        @media (max-width: 1160px)
          padding 24px 32px 0
        .href-wrap
          margin-top 80px
          transform translateY(100px)
          opacity 0
          transition transform .5s ease-in-out, opacity .5s ease-in-out
          @media (max-width: 1160px)
            display none
      &-row
        display flex
        align-items flex-start
        justify-content center
        flex-wrap wrap
        margin 0 -12px
        width calc(100% + 24px)
        @media (max-width: 1160px)
          margin 0
          width 100%
  &__submenu
    width calc(20% - 24px)
    margin 0 12px
    @media (max-width: 1160px)
      width 100%
      margin 0 0 20px
      &:last-child
        margin-bottom 0
    &-href
      display block
      margin-bottom 32px
      @media (max-width: 1160px)
        display flex
        align-items flex-start
        position relative
        margin-bottom 10px
      &:last-child
        margin-bottom 0
      &-overimg
        display flex
        align-items center
        width 100%
        height 120px
        margin-left -8px
        margin-bottom 24px
        transition opacity .3s ease-in-out
        @media (max-width: 1160px)
          display none
      &-img
        max-width 100%
        max-height 100%
        width auto
        height auto
      &-text
        display block
        color #000
        font 500 20px/24px 'Roboto'
        transition opacity .3s ease-in-out
    &-btn-mobile
      display none
      flex-shrink 0
      position relative
      width 24px
      height 24px
      margin-left auto
      z-index 1
      &:after, &:before
        content ''
        position absolute
        top 11px
        left 3px
        display inline-block
        width 16px
        height 2px
        background-color #363737
        transition transform .3s ease-in-out
      &:after
        transform rotate(-90deg)
      &.active
        &:after
          transform rotate(-180deg)
      @media (max-width: 1160px)
        display block
    &-list
      display block
      position relative
      padding-bottom 20px
      padding-right 20px
      max-height calc(100vh - 508px)
      transition max-height .3s ease-in-out
      @media (max-width: 1160px)
        max-height 0 !important
        padding 0
        overflow hidden
        &.show
          max-height 500px !important
      &-item
        margin-bottom 17px
        @media (max-width: 1160px)
          margin-bottom 0
        &:last-child
          margin-bottom 0
      &-href
        color #636363
        font 400 16px/24px 'Roboto'
        text-align left
        transition opacity .3s ease-in-out
