.ifeed
  position relative
  width 100%
  padding-top 162px
  padding-bottom 566px
  background-color rgb(248, 249, 252)
  overflow hidden
  z-index 1
  @media (max-width: 767px)
    padding-top 60px
    padding-bottom 705px
  &__decor
    position absolute
    height 1266px
    top 0
    left 0
    width 100%
    height 100%
    z-index -1
    @media (max-width: 767px)
      top auto
      justify-content flex-start
      transform translateY(0)
    &-item
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      width 100%
      height 1266px
      display flex
      align-items flex-end
      justify-content center
      transition-property transform,opacity
      transition-duration 1s
      transition-timing-function cubic-bezier(.215,.61,.355,1)
      &--front
        transform translateY(0)
        transform-origin 50% 0
        @media (max-width: 1023px)
          justify-content flex-start
          img
            position relative
            left -415px
      &--back
        transform translateY(-30px)
      &-img
        //min-width 100%
        min-height 100%
        max-width none
  &__content
    text-align center
    min-height 480px
    max-width 320px
    margin-left auto
    margin-right 190px
    @media (max-width: 1023px)
      margin 0 auto
  &__title
    text-transform none
    margin-bottom 24px
    letter-spacing -.03em
    @media (max-width: 767px)
      font-size 20px
      line-height 24px
      margin-bottom 8px
  &__text
    color #636466
    line-height 24px
    font-size 16px
    margin-bottom 38px
    a
      color #000
      transition color .3s ease-in-out
      &:hover
        color rgba(#000, .7)
      &[href^="tel"]
        white-space nowrap
  .validate-row
    &--answer-server
      right 0
      @media (max-width: 1023px)
        right auto
        left 50%
        transform translateX(-50%)

