.iprod
  padding 32px 0
  @media (max-width: 767px)
    padding-top 8px
    padding-bottom 8px
  .swiper
    &-container
      &.start-anim
        .swiper-slide
          opacity 1
          left 0
    &-slide
      width 1008px
      transition-property left, opacity
      transition-duration 3s
      transition-timing-function cubic-bezier(.215,.61,.355,1)
      left 200px
      opacity 0
      &.swiper-slide-active
        transition-delay .35s
      &.swiper-slide-next
        transition-delay .7s
      .product
        opacity .3
      &-active
        opacity 1
        left 0
        .product
          opacity 1 !important
          &__item-img
            opacity 1 !important
        &:hover
          .product__item-more
            opacity 1
            left 0
      @media (max-width: 1160px)
        width 800px
      @media (max-width: 940px)
        height auto
        width calc(100% - 120px)
        background-color #f8f9fc
      @media (max-width: 767px)
        width 288px
