.ipubl
  padding-top 122px
  padding-bottom 112px
  overflow hidden
  @media (max-width: 1365px)
    padding-left 30px
    padding-right 30px
  @media  (max-width: 767px)
    padding 64px 0 32px
  &.start-animate
    .swiper-slide
      opacity 1
      transform translateX(0)
  &__top
    display flex
    flex-wrap wrap
    align-items flex-end
    justify-content space-between
    margin-bottom 30px
    @media (max-width: 767px)
      flex-direction column
      align-items flex-start
  &__press-center-href
    color $black
    font-weight 500
    font-size 12px
    letter-spacing .08em
    line-height 16px
    text-transform uppercase
    transition opacity .3s ease-in-out
    @media (max-width: 767px)
      align-self flex-start
      margin-top 20px
    &:hover
      opacity .7
  &__slider
    position: relative
  .swiper
    &-container
      overflow visible
    &-slide
      display flex
      flex-direction: column
      height auto
      transition-property transform, opacity
      transition-duration 3s
      transition-timing-function cubic-bezier(.215,.61,.355,1)
      opacity 0
      transform translateX(100px)
      &:first-child
        transition-delay .7s
      &:nth-child(2)
        transition-delay .75s
      &:nth-child(3)
        transition-delay .80s
      &:nth-child(4)
        transition-delay .85s
