.isubscr
  display flex
  align-items center
  position relative
  width 100%
  height 400px
  color #fff
  background-repeat no-repeat
  background-size cover
  background-position 50% 50%
  overflow hidden
  &__content
    /*margin-left 104px*/
    max-width 487px
    transition transform 1s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out
    margin-left 8.553%
    @media (max-width: 767px)
      margin-left 0
  &__title
    text-transform none
    margin-bottom 28px
    letter-spacing -0.03em
    @media (max-width: 767px)
      font-size 24px
      line-height 30px
      letter-spacing -.025em
      text-transform uppercase
      margin-bottom 24px
  &__text
    font-family 'Roboto'
    font-size 16px
    line-height 24px
    margin-bottom 38px
    @media (max-width: 767px)
      margin-bottom 24px
  &__btn
    margin-left -24px
    color #fff
