.itabs
  overflow hidden
  &__nav
    display flex
    flex-wrap wrap
    justify-content center
    margin-bottom 30px
    @media (max-width: 1023px)
      flex-wrap nowrap
      padding 0 0 30px
      overflow-y hidden
      overflow-x auto
    @media (max-width: 934px)
      justify-content flex-start
    &.start-animate
      .itabs__nav-item
        opacity 1
        transform translateY(0)
    &-item
      display block
      position relative
      max-width 592px
      width calc(100vw/3 - 42.66px)
      height calc(100vw/3 - 42.66px)
      max-height 480px
      margin 0 16px
      padding 65px 60px 63px
      white-space normal
      opacity 0
      transform translateY(100px)
      z-index 1
      &:first-child
        transition: opacity 1s ease-in-out .4s,transform 1s ease-in-out
      &:nth-child(2)
        transition: opacity 1s ease-in-out .4s,transform 1s ease-in-out .3s
      &:nth-child(3)
        transition: opacity 1s ease-in-out .4s,transform 1s ease-in-out .6s
      @media (max-width: 1160px)
        padding 30px
        margin 0 8px
      @media (max-width: 1023px)
        flex-shrink 0
        width 298px
        height 298px
        margin 0 16px 0 0
        &:last-child
          margin-right 0
      &:after
        content ""
        position absolute
        top 100%
        left calc(50% - 15px)
        display block
        width 30px
        height 13px
        background url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDMwIDEzIj4gIDxnIGlkPSJQYWdlLTEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgIDxnIGlkPSJBcnRib2FyZCIgZmlsbD0iIzFGMUYxNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM0OSAtNTE1KSI+ICAgICAgPGcgaWQ9Ikdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNDkgNTE1KSI+ICAgICAgICA8cG9seWdvbiBpZD0iUmVjdGFuZ2xlIiBwb2ludHM9IjAgMCAzMCAwIDE1IDEzIi8+ICAgICAgPC9nPiAgICA8L2c+ICA8L2c+PC9zdmc+') no-repeat center
        opacity 1
        pointer-events none
        visibility hidden
        transform translateY(-25px)
        transition opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out
        z-index -2
      &:hover
        .itabs__nav
          &-item
            &-href
              opacity 1
              transform translateY(0)
              pointer-events auto
      &--active
        &:after
          opacity 1
          visibility visible
          transform translateY(0)
          transition opacity .9s ease-in-out, visibility .9s ease-in-out, transform .9s ease-in-out
        .itabs__nav
          &-item
            &-title, &-text
              text-shadow 0 0 0.4rem rgba(0,0,0,.25)
              transition text-shadow .6s ease-in-out .4s, color .6s ease-in-out .4s, opacity .3s ease-in-out
            &-href
              opacity 1
              transform translateY(0)
              pointer-events auto
            &-href, &-title
              pointer-events auto
              &:hover
                opacity .7
      &-cover
        display block
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background-repeat no-repeat
        background-position 50% 50%
        background-size cover
        z-index -1
      &-info
        max-width 290px
        position relative
        z-index 3
      &-title
        transition opacity .3s ease-in-out
        pointer-events none
        @media (max-width: 1160px)
          font-size 24px
          line-height 30px
      &-text
        color #fff
        font 16px/24px 'Roboto'
        margin-top 25px
        transition-property text-shadow,color
        transition-duration .6s
        transition-timing-function ease-in-out
        @media (max-width: 1160px)
          margin-top 15px
          max-width 80%
      &-circle
        position absolute
        top calc(50% - 84px)
        left calc(50% - 38px)
        width 290px
        height 290px
        z-index 2
        @media (max-width: 1639px)
          top auto
          bottom 30px
          left auto
          right 10px
          width 240px
          height 240px
        @media (max-width: 1023px)
          width 160px
          height 160px
          right 15px
          bottom 15px
        &:before
          content ""
          position absolute
          bottom -34px
          right -42px
          width 592px
          height 480px
          background-repeat no-repeat
          background-position: 100% 100%
          background-size 100%
          background-image url('../../../../static/img/aim-shadow.png')
          @media (max-width: 1639px)
            bottom -30px
            right -35px
            width 490px
            height 398px
          @media (max-width: 1160px)
            background none
            left 0
            top 0
            bottom 0
            right 0
            width 100%
            height 100%
            box-shadow 0 0 10px 5px rgba(0,0,0,0.8)
            border-radius 50%
      &-video
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        width 100%
        height 100%
        overflow hidden
        border-radius 100%
        min-width 100%
      &-href
        position absolute
        bottom 50px
        left 60px
        color #fff
        font-family DIN W10 Medium,sans-serif
        font-weight 600
        font-size 12px
        letter-spacing .03em
        line-height 16px
        text-transform uppercase
        opacity 0
        text-shadow 0 0 0.4rem rgba(0,0,0,.25)
        transform translateY(1rem)
        transition opacity .3s ease-in-out,transform .3s ease-in-out
        z-index 3
        @media (max-width: 1160px)
          left 30px
        @media (max-width: 1023px)
          display inline-block
          vertical-align top
          position relative
          left 0
          bottom 0
          margin-top 25px
        &:hover
          opacity .7
  &__list
    position relative
    //overflow hidden
    padding-top 84px
    padding-bottom 81px
    @media (max-width: 1023px)
      padding-top 15px
      padding-bottom 60px
      &:before
        content ''
        display block
        position absolute
        top -20px
        right 32px
        width 42px
        height 10px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAKCAMAAAD1sTxfAAAAM1BMVEUAAAAAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyIAcyLsYydVAAAAEHRSTlMAaZHt+PJjUUE07lSJdnVVpmv5yQAAAFxJREFUGNONkTkOwDAIBPF9xc7+/7WBRCmQLItpWIkpOEhog46M9qea3Fl1qX6hRGjVh+61ilikZkCrHsylVSATLSi4EaQGDlAsmlZ12gfYr9X3a9mPZXrB/b7gAcEDBuAycS5rAAAAAElFTkSuQmCC') no-repeat center
        z-index 1
    @media (max-width: 767px)
      &:before
        right 20px
    &.start-animate
      .itabs__list-item--active
        .swiper-slide
          opacity 1
          left 0
    &-item
      position absolute
      width 100%
      left 0
      opacity 0
      z-index -1
      transition opacity .3s ease-in-out
      @media (max-width: 1160px)
        padding-left 30px
        padding-right 30px
      @media (max-width: 767px)
        padding-left 0
        padding-right 0
      .href-wrap
        opacity 0
        transform translateY(100px)
      &--active
        position relative
        opacity 1
        z-index 1
        .swiper-slide
          transition-duration 3s
          transition-timing-function cubic-bezier(.215,.61,.355,1)
        .href-wrap
          opacity 1
          transform translateY(0)
          transition transform .6s ease-in-out, opacity .6s ease-in-out
          transition-delay .6s
  .swiper
    &-container
      overflow visible
    &-slide
      opacity 0
      left 200px
      transition-property left, opacity
      &:first-child
        transition-delay 0s
      &:nth-child(2)
        transition-delay .25s
      &:nth-child(3)
        transition-delay .5s
      &:nth-child(4)
        transition-delay .75s
      &:nth-child(5)
        transition-delay 1s
      &:nth-child(6)
        transition-delay 1.25s
      &:nth-child(7)
        transition-delay 1.5s
      &:nth-child(8)
        transition-delay 1.75s
      &:nth-child(9)
        transition-delay 2s
      &:nth-child(10)
        transition-delay 2.25s
      .product
        opacity .3
      &-active, &-next, &-next + .swiper-slide
        .product
          opacity 1
          &:hover
            .product__item-buy
              opacity 1
              transform translateY(0)
      @media (max-width 600px)
        &-next, &-next + .swiper-slide, .swiper-slide
          .product
            opacity 0
    &-wall
      position absolute
      top 0
      width calc(50vw - 50% - 32px)
      height 100%
      z-index 3
      @media (max-width 600px)
        display none
      &--left
        left calc(50% - 50vw)
      &--right
        right calc(50% - 50vw)
  .href-wrap
    margin-top 47px
