.logo
  position relative
  flex-shrink 0
  margin-right 80px
  top 2px
  @media (max-width: 1620px)
    margin-right 40px
  @media (max-width: 1365px)
    margin-right 18px
  .i-logo
    height 80px
    transition height .3s ease-in-out
    @media (max-width: 1365px)
      width 85px
  .logo-text
    transition fill .3s ease-in-out
