.logo
  position relative
  flex-shrink 0
  margin-right 80px
  top 2px
  @media (max-width: 1620px)
    margin-right 40px
  @media (max-width: 1365px)
    margin-right 18px
  @media (max-width: 1160px)
    margin 0 auto
  .i-logo
    height 80px
    transition height .3s ease-in-out
    @media (max-width: 1365px)
      width 85px
    @media (max-width: 767px)
      height 60px
  .logo-text
    transition fill .3s ease-in-out
