.product
  user-select none
  &:not(.product--vertical)
    display block
    position relative
    width 100%
    height 480px
    line-height 480px
    background-color #f8f9fc
    transition opacity .3s ease-in-out, background .3s ease-in-out
    z-index 1
    @media (max-width: 940px)
      height auto
      line-height normal
    @media (max-width: 767px)
      min-height 532px
    @media (max-width: 480px)
      min-height 482px
    .product
      &__item
        &-img
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          display block
          width 100%
          height 100%
          background-repeat no-repeat
          background-position 100%
          opacity .3
          transition opacity .6s ease-in-out
          z-index -1
          @media (max-width: 1160px)
            background-position right 80%
            background-size 62% auto
          @media (max-width: 940px)
            background-position bottom
          @media (min-width: 768px) and (max-width: 940px)
            background-size 450px

        &-content
          display inline-block
          position relative
          width auto
          min-height 312px
          line-height normal
          vertical-align middle
          padding-bottom 30px
          padding-left 72px
          transition opacity .6s ease-in-out
          z-index 2
          @media (max-width: 1160px)
            padding-left 30px
            vertical-align top
            padding-top 30px
          @media (max-width: 940px)
            box-sizing border-box
            width 100%
          @media (min-width: 768px) and (max-width: 940px)
            padding-bottom 50%
          @media (max-width: 767px)
            padding 32px 12px 0 16px
        &-art
          display block
          color #636466
          font-size 16px
          line-height 24px
          margin-top 2px
          margin-bottom 8px
          transition color .3s ease-in-out
        &-title
          display block
          margin-bottom 24px
          max-width 385px
          @media (max-width: 767px)
            font-size 24px
            line-height 30px
            letter-spacing -.025em
        &-descr
          display block
          color #636466
          font-size 16px
          line-height 24px
          max-width 280px
        &-more
          position absolute
          left 72px
          bottom 0
          display inline-block
          color $black
          font-family DIN W10 Medium,sans-serif
          font-weight 600
          font-size 12px
          line-height 24px
          letter-spacing .025em
          margin-left 40px
          text-transform uppercase
          opacity 0
          transform translateY(10px)
          transition opacity .3s ease-in-out, transform .3s ease-in-out
          @media (max-width: 1160px)
            opacity 1
            left 0
            margin-left 32px
            transform translateY(0)
          @media (max-width: 940px)
            position relative
            margin-top 20px
            margin-left 0
  &--vertical
    display block
    position relative
    text-align center
    width 100%
    background-color #fff
    transition opacity .6s ease-in-out
    z-index 1
    &:hover
      .product__item-overimg
        transform scale(1.1)
    .product__item
      &-overimg
        display block
        position relative
        width 100%
        height 280px
        box-sizing border-box
        padding 30px
        transition transform .3s ease-in-out
      &-img
        width 100%
        height 100%
        object-fit contain
      &-art
        display block
        color $black
        font-weight 500
        font-size 26px
        line-height 30px
        margin-bottom 17px
        margin-top -30px
      &-descr
        display block
        min-height 50px
        color #636466
        font-size: 16px
        line-height 25px
        margin-bottom 30px
      &-price
        display block
        color $black
        font-family DIN W10 Medium,sans-serif
        font-weight 600
        font-size 20px
        line-height 32px
        margin-bottom 16px
      &-buy
        display flex
        align-items center
        justify-content center
        color $black
        font-weight 500
        line-height 16px
        font-size 12px
        letter-spacing .08em
        text-transform uppercase
        background none
        border none
        outline none
        padding 0
        margin 0 auto
        transition opacity .3s ease-in-out
        opacity 0
        transform translateY(10px)
        transition opacity .3s ease-in-out,transform .3s ease-in-out
        @media (max-width: 1160px)
          opacity 1
          transform translateY(0)
        &-ico
          margin-right 5px
          margin-top -.02em
          .i-basket
            width 21px
            height 17px
            path
              transition fill .3s ease-in-out
              fill #000
