.validate
  &-wrap
    position relative
  &-row
    opacity 1
    visibility visible
    transition opacity .3s ease-in-out, visibility .3s ease-in-out
    &--hidden
      opacity 0
      visibility hidden
    &--answer-server
      position absolute
      left 0
      top 0
      z-index 2
