+b('footer').footer
  .container
    +e.top
      +e.row.row
        +e.col.col.--x2
          +e('ul').list
            +e('li').list-item.--head
              +e('a')(href="#").list-item-href Каталог
            +e('li').list-item
              +e('a')(href="#").list-item-href Дневная оптика
            +e('li').list-item
              +e('a')(href="#").list-item-href Ночная оптика
            +e('li').list-item
              +e('a')(href="#").list-item-href Тепловизоры
            +e('li').list-item
              +e('a')(href="#").list-item-href Аксессуары
            +e('li').list-item
              +e('a')(href="#").list-item-href Крепления
        +e.col.col.--x2
          +e('ul').list
            +e('li').list-item.--head
              +e('a')(href="#").list-item-href Поддержка
            +e('li').list-item
              +e('a')(href="#").list-item-href Сервис
            +e('li').list-item
              +e('a')(href="#").list-item-href Гарантия
            +e('li').list-item
              +e('a')(href="#").list-item-href Тепловизоры
            +e('li').list-item
              +e('a')(href="#").list-item-href Руководства по эксплуатации
            +e('li').list-item
              +e('a')(href="#").list-item-href Задать вопрос
        +e.col.col.--x2
          +e('ul').list
            +e('li').list-item.--head
              +e('a')(href="#").list-item-href О компании
            +e('li').list-item
              +e('a')(href="#").list-item-href Пресс-центр
            +e('li').list-item
              +e('a')(href="#").list-item-href Фото и видео
            +e('li').list-item
              +e('a')(href="#").list-item-href Контакты
        +e.col.col.--x2
          +e('ul').list
            +e('li').list-item.--head
              +e('a')(href="#").list-item-href Где купить
            +e('li').list-item
              +e('a')(href="#").list-item-href Магазин Дедал-НВ
            +e('li').list-item
              +e('a')(href="#").list-item-href Российские дилеры
            +e('li').list-item
              +e('a')(href="#").list-item-href Зарубежные дилеры

        +e.col.col.--x2.--offset-2
          +e('a')(href="tel:+74955893101").phone +7 495 589-31-01
          +e('button')(type="button" data-action="feedback").callback-btn.js-show-popup Заказать звонок
          +e('ul').contacts
            +e('li').contacts-item
              address 107076, Москва, ул. Стромынка, д. 18
            +e('li').contacts-item
              a(href="mailto:info@dedalnvoptics.com") info@dedalnvoptics.com
          +b('ul').social
            +e('li').item
              +e('a')(href="#").item-href.--vk
                include ../../../svg/ico-vk.svg
            +e('li').item
              +e('a')(href="#").item-href.--fb
                include ../../../svg/ico-fb.svg
            +e('li').item
              +e('a')(href="#").item-href.--inst
                include ../../../svg/ico-inst.svg
            +e('li').item
              +e('a')(href="#").item-href.--ytb
                include ../../../svg/ico-ytb.svg
    +e.bottom
      +e('p').coopy &copy; 1991–2019 АО «Дедал-НВ»
      +e('ul').bottom-list
        +e('li').bottom-list-item
          +e('a')(href="#").bottom-list-href Политика конфиденциальности
        +e('li').bottom-list-item
          +e('a')(href="#").bottom-list-href Правила пользования сайтом
        +e('li').bottom-list-item
          +e('a')(href="#").bottom-list-href Правила использования «cookie»
        +e('li').bottom-list-item
          +e('a')(href="#").bottom-list-href Карта сайта

button(type="button").button-scroll-top.js-scroll-top

+b.cookie-popup
  .container
    form
      +e('p').text Мы хотим, чтобы сайт «Дедал-НВ» был для Вас удобным и интересным. Чтобы стать лучше, мы работаем с веб-аналитикой. Для сбора аналитических данных используются файлы «cookie». Вся информация анонимна, конфиденциальна и не передается третьим лицам. Продолжая использовать сайт «Дедал-НВ», Вы подтверждаете свое согласие с 
        a(href="#") Политикой в отношении «cookie»
      +e('button')(type="submit").btn.btn.js-cookie Подтверждаю
