+b('header').header
  .container
    +e.row.row
      +e('button')(type="button").burger.js-burger
        span

      +b('a')(href="#").logo
        include ../../../svg/logo.svg
      
      +nav([
        { href: 'Дневная оптика', data: 'day', dopClass: 'js-top-action'}, 
        { href: 'Ночная оптика', data: 'night', dopClass: 'js-top-action'}, 
        { href: 'Тепловизоры', data: 'thermal', dopClass: 'js-top-action'}, 
        { href: 'Поддержка' }, 
        { href: 'О компании', data: 'about', dopClass: 'js-top-action'}, 
        { href: 'Где купить' }, 
        { href: 'Контакты' }
      ])

      +e.right
        +e('a')(href="tel:+74955893101").phone +7 495 589-31-01

        +e('ul').action
          +e('li').action-item
            +e('a')(href="#" data-count="0").action-href.--basket
              include ../../../svg/basket.svg
              include ../../../svg/basket-color.svg
          +e('li').action-item
            +e('a')(href="#" data-action="search").action-href.--search.js-top-action
              include ../../../svg/search.svg

        +e('ul').lang
          +e('li').lang-item
            +e('span').lang-href
              include ../../../svg/flag-ru.svg
          +e('li').lang-item
            +e('a')(href="#").lang-href
              include ../../../svg/flag-eng.svg

  include ../blocks/header-tabs
